.grid__container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
}

.grid__item {
  margin: 0;
  box-sizing: border-box;
}

.grid--zero-min-width {
  min-width: 0;
}

.grid--direction-column {
  flex-direction: column;
}

.grid--direction-column-reverse {
  flex-direction: column-reverse;
}

.grid--direction-row-reverse {
  flex-direction: row-reverse;
}

.grid--wrap-nowrap {
  flex-wrap: nowrap;
}

.grid--wrap-reverse {
  flex-wrap: wrap-reverse;
}

.grid--align-items-center {
  align-items: center;
}

.grid--align-items-flex-start {
  align-items: flex-start;
}

.grid--align-items-flex-end {
  align-items: flex-end;
}

.grid--align-items-baseline {
  align-items: baseline;
}

.grid--align-content-center {
  align-content: center;
}

.grid--align-content-flex-start {
  align-content: flex-start;
}

.grid--align-content-flex-end {
  align-content: flex-end;
}

.grid--align-content-space-between {
  align-content: space-between;
}

.grid--align-content-space-around {
  align-content: space-around;
}

.grid--justify-center {
  justify-content: center;
}

.grid--justify-flex-end {
  justify-content: flex-end;
}

.grid--justify-space-between {
  justify-content: space-between;
}

.grid--justify-space-around {
  justify-content: space-around;
}

.grid--justify-space-evenly {
  justify-content: space-evenly;
}

.grid--spacing-1 {
  width: calc(100% + 8px);
  margin: -4px;
}

.grid--spacing-1 > .grid__item {
  padding: 4px;
}

.grid--spacing-2 {
  width: calc(100% + 16px);
  margin: -8px;
}

.grid--spacing-2 > .grid__item {
  padding: 8px;
}

.grid--spacing-3 {
  width: calc(100% + 24px);
  margin: -12px;
}

.grid--spacing-3 > .grid__item {
  padding: 12px;
}

.grid--spacing-4 {
  width: calc(100% + 32px);
  margin: -16px;
}

.grid--spacing-4 > .grid__item {
  padding: 16px;
}

.grid--spacing-5 {
  width: calc(100% + 40px);
  margin: -20px;
}

.grid--spacing-5 > .grid__item {
  padding: 20px;
}

.grid--spacing-6 {
  width: calc(100% + 48px);
  margin: -24px;
}

.grid--spacing-6 > .grid__item {
  padding: 24px;
}

.grid--spacing-7 {
  width: calc(100% + 56px);
  margin: -28px;
}

.grid--spacing-7 > .grid__item {
  padding: 28px;
}

.grid--spacing-8 {
  width: calc(100% + 64px);
  margin: -32px;
}

.grid--spacing-8 > .grid__item {
  padding: 32px;
}

.grid--spacing-9 {
  width: calc(100% + 72px);
  margin: -36px;
}

.grid--spacing-9 > .grid__item {
  padding: 36px;
}

.grid--spacing-10 {
  width: calc(100% + 80px);
  margin: -40px;
}

.grid--spacing-10 > .grid__item {
  padding: 40px;
}

.grid--xs-auto {
  flex-grow: 0;
  max-width: none;
  flex-basis: auto;
}

.grid--xs-true {
  flex-grow: 1;
  max-width: 100%;
  flex-basis: 0;
}

.grid--xs-0 {
  display: none;
}

.grid--xs-1 {
  flex-grow: 0;
  max-width: 8.333333%;
  flex-basis: 8.333333%;
}

.grid--xs-2 {
  flex-grow: 0;
  max-width: 16.666667%;
  flex-basis: 16.666667%;
}

.grid--xs-3 {
  flex-grow: 0;
  max-width: 25%;
  flex-basis: 25%;
}

.grid--xs-4 {
  flex-grow: 0;
  max-width: 33.333333%;
  flex-basis: 33.333333%;
}

.grid--xs-5 {
  flex-grow: 0;
  max-width: 41.666667%;
  flex-basis: 41.666667%;
}

.grid--xs-6 {
  flex-grow: 0;
  max-width: 50%;
  flex-basis: 50%;
}

.grid--xs-7 {
  flex-grow: 0;
  max-width: 58.333333%;
  flex-basis: 58.333333%;
}

.grid--xs-8 {
  flex-grow: 0;
  max-width: 66.666667%;
  flex-basis: 66.666667%;
}

.grid--xs-9 {
  flex-grow: 0;
  max-width: 75%;
  flex-basis: 75%;
}

.grid--xs-10 {
  flex-grow: 0;
  max-width: 83.333333%;
  flex-basis: 83.333333%;
}

.grid--xs-11 {
  flex-grow: 0;
  max-width: 91.666667%;
  flex-basis: 91.666667%;
}

.grid--xs-12 {
  flex-grow: 0;
  max-width: 100%;
  flex-basis: 100%;
}

@media (min-width: 600px) {
  .grid--sm-auto {
    flex-grow: 0;
    max-width: none;
    flex-basis: auto;
  }

  .grid--sm-true {
    flex-grow: 1;
    max-width: 100%;
    flex-basis: 0;
  }

  .grid--sm-1 {
    flex-grow: 0;
    max-width: 8.333333%;
    flex-basis: 8.333333%;
  }

  .grid--sm-2 {
    flex-grow: 0;
    max-width: 16.666667%;
    flex-basis: 16.666667%;
  }

  .grid--sm-3 {
    flex-grow: 0;
    max-width: 25%;
    flex-basis: 25%;
  }

  .grid--sm-4 {
    flex-grow: 0;
    max-width: 33.333333%;
    flex-basis: 33.333333%;
  }

  .grid--sm-5 {
    flex-grow: 0;
    max-width: 41.666667%;
    flex-basis: 41.666667%;
  }

  .grid--sm-6 {
    flex-grow: 0;
    max-width: 50%;
    flex-basis: 50%;
  }

  .grid--sm-7 {
    flex-grow: 0;
    max-width: 58.333333%;
    flex-basis: 58.333333%;
  }

  .grid--sm-8 {
    flex-grow: 0;
    max-width: 66.666667%;
    flex-basis: 66.666667%;
  }

  .grid--sm-9 {
    flex-grow: 0;
    max-width: 75%;
    flex-basis: 75%;
  }

  .grid--sm-10 {
    flex-grow: 0;
    max-width: 83.333333%;
    flex-basis: 83.333333%;
  }

  .grid--sm-11 {
    flex-grow: 0;
    max-width: 91.666667%;
    flex-basis: 91.666667%;
  }

  .grid--sm-12 {
    flex-grow: 0;
    max-width: 100%;
    flex-basis: 100%;
  }
}

@media (min-width: 960px) {
  .grid--md-auto {
    flex-grow: 0;
    max-width: none;
    flex-basis: auto;
  }

  .grid--md-true {
    flex-grow: 1;
    max-width: 100%;
    flex-basis: 0;
  }

  .grid--md-1 {
    flex-grow: 0;
    max-width: 8.333333%;
    flex-basis: 8.333333%;
  }

  .grid--md-2 {
    flex-grow: 0;
    max-width: 16.666667%;
    flex-basis: 16.666667%;
  }

  .grid--md-3 {
    flex-grow: 0;
    max-width: 25%;
    flex-basis: 25%;
  }

  .grid--md-4 {
    flex-grow: 0;
    max-width: 33.333333%;
    flex-basis: 33.333333%;
  }

  .grid--md-5 {
    flex-grow: 0;
    max-width: 41.666667%;
    flex-basis: 41.666667%;
  }

  .grid--md-6 {
    flex-grow: 0;
    max-width: 50%;
    flex-basis: 50%;
  }

  .grid--md-7 {
    flex-grow: 0;
    max-width: 58.333333%;
    flex-basis: 58.333333%;
  }

  .grid--md-8 {
    flex-grow: 0;
    max-width: 66.666667%;
    flex-basis: 66.666667%;
  }

  .grid--md-9 {
    flex-grow: 0;
    max-width: 75%;
    flex-basis: 75%;
  }

  .grid--md-10 {
    flex-grow: 0;
    max-width: 83.333333%;
    flex-basis: 83.333333%;
  }

  .grid--md-11 {
    flex-grow: 0;
    max-width: 91.666667%;
    flex-basis: 91.666667%;
  }

  .grid--md-12 {
    flex-grow: 0;
    max-width: 100%;
    flex-basis: 100%;
  }
}

@media (min-width: 1280px) {
  .grid--lg-auto {
    flex-grow: 0;
    max-width: none;
    flex-basis: auto;
  }

  .grid--lg-true {
    flex-grow: 1;
    max-width: 100%;
    flex-basis: 0;
  }

  .grid--lg-1 {
    flex-grow: 0;
    max-width: 8.333333%;
    flex-basis: 8.333333%;
  }

  .grid--lg-2 {
    flex-grow: 0;
    max-width: 16.666667%;
    flex-basis: 16.666667%;
  }

  .grid--lg-3 {
    flex-grow: 0;
    max-width: 25%;
    flex-basis: 25%;
  }

  .grid--lg-4 {
    flex-grow: 0;
    max-width: 33.333333%;
    flex-basis: 33.333333%;
  }

  .grid--lg-5 {
    flex-grow: 0;
    max-width: 41.666667%;
    flex-basis: 41.666667%;
  }

  .grid--lg-6 {
    flex-grow: 0;
    max-width: 50%;
    flex-basis: 50%;
  }

  .grid--lg-7 {
    flex-grow: 0;
    max-width: 58.333333%;
    flex-basis: 58.333333%;
  }

  .grid--lg-8 {
    flex-grow: 0;
    max-width: 66.666667%;
    flex-basis: 66.666667%;
  }

  .grid--lg-9 {
    flex-grow: 0;
    max-width: 75%;
    flex-basis: 75%;
  }

  .grid--lg-10 {
    flex-grow: 0;
    max-width: 83.333333%;
    flex-basis: 83.333333%;
  }

  .grid--lg-11 {
    flex-grow: 0;
    max-width: 91.666667%;
    flex-basis: 91.666667%;
  }

  .grid--lg-12 {
    flex-grow: 0;
    max-width: 100%;
    flex-basis: 100%;
  }
}

@media (min-width: 1920px) {
  .grid--xl-auto {
    flex-grow: 0;
    max-width: none;
    flex-basis: auto;
  }

  .grid--xl-true {
    flex-grow: 1;
    max-width: 100%;
    flex-basis: 0;
  }

  .grid--xl-1 {
    flex-grow: 0;
    max-width: 8.333333%;
    flex-basis: 8.333333%;
  }

  .grid--xl-2 {
    flex-grow: 0;
    max-width: 16.666667%;
    flex-basis: 16.666667%;
  }

  .grid--xl-3 {
    flex-grow: 0;
    max-width: 25%;
    flex-basis: 25%;
  }

  .grid--xl-4 {
    flex-grow: 0;
    max-width: 33.333333%;
    flex-basis: 33.333333%;
  }

  .grid--xl-5 {
    flex-grow: 0;
    max-width: 41.666667%;
    flex-basis: 41.666667%;
  }

  .grid--xl-6 {
    flex-grow: 0;
    max-width: 50%;
    flex-basis: 50%;
  }

  .grid--xl-7 {
    flex-grow: 0;
    max-width: 58.333333%;
    flex-basis: 58.333333%;
  }

  .grid--xl-8 {
    flex-grow: 0;
    max-width: 66.666667%;
    flex-basis: 66.666667%;
  }

  .grid--xl-9 {
    flex-grow: 0;
    max-width: 75%;
    flex-basis: 75%;
  }

  .grid--xl-10 {
    flex-grow: 0;
    max-width: 83.333333%;
    flex-basis: 83.333333%;
  }

  .grid--xl-11 {
    flex-grow: 0;
    max-width: 91.666667%;
    flex-basis: 91.666667%;
  }

  .grid--xl-12 {
    flex-grow: 0;
    max-width: 100%;
    flex-basis: 100%;
  }
}

@media screen and (max-width: 600px) {
  .grid--hide-xs {
    display: none;
  }
}

@media screen and (max-width: 960px) {
  .grid--hide-sm {
    display: none;
  }
}

@media screen and (max-width: 1280px) {
  .grid--hide-md {
    display: none;
  }
}

@media screen and (max-width: 1920px) {
  .grid--hide-lg {
    display: none;
  }
}
